.section_menssage {
  margin: 50px 0px;
}

.container_menssage {
  margin: 20px 0px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
}

.container_menssage div {
  width: 100%;
  height: 100%;
}

.contacts_menssage {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.item_contacts {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
  width: 250px;
  height: 130px;
  background: #343232;
  border-radius: 10px;
  border-bottom: 2px solid #fdc971;
  font-size: 11pt;
  letter-spacing: 1pt;
}

.item_contacts img {
  width: 30px;
}

.enter_contact {
  display: flex;
  align-items: center;
  color: #fdc971;
  font-size: 12pt;
  letter-spacing: 1px;
 
}

.enter_contact:hover{
  text-decoration: underline;
}


.form_menssage {
  margin: auto;
  text-align: center;
}

form {
  margin: auto;
  text-align: center;
  width: 319px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form h4 {
  margin: auto;
  text-align: center;
}

fieldset {
  margin: auto;
  text-align: left;
  padding: 7px 20px;
  width: 270px;
  border-radius: 20px;
  color: #fdc971;
  border-color: #fdc971;
}

input {
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: white;
}

textarea {
  outline: none;
  width: 100%;
  height: 190px;
  color: white;
  background: transparent;
  border: none;
  resize: none;
}

form button {
  border: none;
  width: 130px;
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #fdc971;
  letter-spacing: 1px;
  font-weight: 600;
}

@media screen and (max-width: 750px) {
  .container_menssage {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
