.section_projects {
  padding: 50px 0px;
  margin-bottom: 50px;
  height: auto;
}

.menu_projects {
  display: flex;
  margin-top: 30px;
  height: 60px;
  gap: 30px;
  align-items: center;
}

.button_menu_projects {
  border: none;
  padding: 8px 25px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.selection_projects {
  background-color: #fdc971;
  color: black;
}

.container_projects {
  display: flex;
  margin: auto;
  width: 100%;
  height: 270px;
  overflow: hidden;

  scroll-snap-type: x mandatory;
}

.div_projects {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  flex: none;
}

.item_projects {
  margin: 5px;
  display: inline-block;
  background-color: #343232;
  width: 261px;
  height: 261px;
  border-radius: 10px;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;
  overflow: hidden;
}

.item_projects:hover ~ .info_projects {
  transform: translateY(0%);
}

.info_projects {
  width: 242px;
  height: 242px;
  padding: 10px;
  display: flex;
  text-align: left;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0px;
  background-image: linear-gradient(360deg, #fdc971, #fdca71da, transparent);
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 0.4s, gap 0.5s;
}
.category {
  color: #452c02;
  font-weight: 600;
  margin-bottom: 5px;
}
.link {
  font-size: 11pt;
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.more_projects {
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fdc971;
  cursor: pointer;
  width: 200px;
}

.more_projects p {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}
.more_projects p:hover {
  text-decoration: underline;
}


@media screen and (max-width: 1050px) {
  .section_projects {
    margin: auto;
    text-align: center;
  }
  .menu_projects {
    justify-content: center;
  }

  .div_projects {
    text-align: center;
  }
}
