.container_services {
  margin: auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-left: 2px solid #fdc971;
  border-right: 2px solid #fdc971;
  gap: 20px;
}

.container_services div {
  display: flex;
  align-items: flex-end;
  width: 180px;
  padding: 10px 20px;
  height: 230px;
  background-color: #343232;
  border-radius: 10px;
  border-bottom: 2px solid #fdc971;
  cursor: pointer;
}

.container_services div:hover {
  background-color: #0d0902;
}

.services {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.services h4 {
  width: 180px;
  text-align: left;
  letter-spacing: 1px;
  font-size: 14pt;
  line-height: 20px;
}

.services p {
  display: flex;
  align-items: center;
  color: #fdc971;
}

.services p:hover {
  text-decoration: underline;
}

.container_all_services {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 2;
}

.all_services {
  width: 260px;
  height: 300px;
  border-radius: 10px;
  background-color: #231f20;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #343232;
}

.close_services {
  position: relative;
  left: 240px;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 14pt;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.title_services {
  color: #fdc971;
  letter-spacing: 1px;
  font-size: 12pt;
}

.close_services:hover {
  color: #fdc971;
}

.list_services {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
